@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Asp.Net Core Rest api</h1>
</div>

<div class="text-center border p-2 mt-4 bg-light">
    <a href="/swagger">Swagger api documentation</a>
</div>
