USE [master]
GO
/****** Object:  Database [Web-API]    Script Date: 7/27/2020 9:57:59 PM ******/
CREATE DATABASE [Web-API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web-API', FILENAME = N'C:\Users\Semicolon\Web-API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web-API_log', FILENAME = N'C:\Users\Semicolon\Web-API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web-API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web-API]
GO
/****** Object:  Table [dbo].[sample]    Script Date: 7/27/2020 9:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sample](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[title] [nvarchar](255) NULL,
	[body] [nvarchar](255) NULL,
 CONSTRAINT [PK_sample] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sample] ON 

INSERT [dbo].[sample] ([id], [userId], [title], [body]) VALUES (1, 1, N'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', N'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto')
INSERT [dbo].[sample] ([id], [userId], [title], [body]) VALUES (2, 1, N'qui est esse', N'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla')
INSERT [dbo].[sample] ([id], [userId], [title], [body]) VALUES (3, 1, N'ea molestias quasi exercitationem repellat qui ipsa sit aut', N'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut')
GO
SET IDENTITY_INSERT [dbo].[sample] OFF
GO
USE [master]
GO
